/* --------------------------
  Base Styles
--------------------------- */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

* {
  box-sizing: border-box; 
}

body {
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
  background-color: #c7c9ca;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;  
  text-decoration: none;
  font-weight: 400; 
}


/* --------------------------
  Main Styles
--------------------------- */

.main-header,
.nav,
.image-box,
.head
.portfolio, 
.profile-image {
  display: flex;
  flex-direction: column;
}

.main-header h1 {      
  text-align: center;
}


.nav {
  margin-top: 1.5em ;
  margin-bottom: 1.5em ;
}

.nav a {
  display: block;
  color: #797e83;
  font-size: 1.225em;
  font-weight: 800;
  text-align: center;
  padding: .8em;
  margin-top: 5px;
  margin-left:18px ;
  margin-right:18px ;
  text-transform: uppercase;
  
}


.nav a:hover {
  color: #0b0b0b;
  
}

.image-box p {      
    text-align: center;
    font-size:1.525em ;
    padding: 15px;
}

.profile-image {    
    align-self: center;
    width: 280px;
  }


.portfolio{
    margin-top: 60px;
}


.portfolio h1 {      
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size:1.425em ;
  }

.portfolio img{
      width: 90vw;
  }

.portfolio h2{
    text-align: center;
    margin-bottom: 0px;
}

.portfolio p{
    text-align: center;
    margin-top: 0px;
}

.contact {
    margin: 15px;

}


.contact p{
    font-size:1.525em ;
}




footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}


footer h1{
    font-size:1.225em ;
}





/* --------------------------
  Media Queries
--------------------------- */





@media (min-width: 1024px) {
    

    .main-header {
        background-color: yellow;
        width: 90%;

    }   
    .head, .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }

    .image-box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center; 
        
        

    }


    .profile-image { 
        
        width: 580px;
      }

    /*.main-header {
        flex-direction: column;
  
      }
    .
    
    
   
    /*
    .nav {
      margin-top: 0;
      align-self: center;
    }

    .nav li{
      margin-left: .65em;
      margin-left: .65em;
    }*/

}



